html {
    --text: #000000;
    --background: #dddcdc;
    --primary: #646363;
    --secondary: #202020;
    --accent: #fffb00;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Quicksand";
    font-weight: bold;
    line-height: 150%;
    font-stretch: 50%;
    font-variant: no-common-ligatures;
    text-decoration: underline;
    text-decoration: underline overline;
}

h1,
h2,
h3 {
    color: var(--primary);
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 2px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    background: var(--primary);
}

link:hover {
    filter: invert(100%)
}

/*
h1:hover {
    filter: invert(100%)
}

h2:hover {
    filter: invert(100%)
}

h3:hover {
    filter: invert(100%)
}

p:hover {
    filter: invert(100%)
}

ul:hover {
    filter: invert(100%)
}

ol:hover {
    filter: invert(100%)
}


  
 * {
    border: 1px dashed black;
}

h1 {
    padding: 5px;
}

h2 {
    margin: 10px;
}

* {
    filter: invert(0%);
}
