html {
    --text: #000000;
    --background: #dddcdc;
    --primary: #646363;
    --secondary: #202020;
    --accent: #fffb00;
}



body {
    color: var(--text);
    background: var(--background);
    font-family: "Quicksand";
}
h1,
h2,
h3 {
    color: var(--primary);
}

p { 
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
} 

img {
    padding: 2px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    background: var(--primary);
}

